@tailwind base;
@tailwind components;
@tailwind utilities;

.clipboard-container {
    @apply max-w-6xl mx-auto text-center px-10;
}

.clipboard-h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
}

.clipboard-button {
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.clipboard-p {
    @apply max-w-3xl mx-auto text-xl leading-9 text-center text-grayishBlue;
}

.clipboard-h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
}


.clipboard-icon:hover {
    /* I used the filter property to change the color of the icon on hover since it was added as a png image */
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%);
}

.loopStudios-btn {
    @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata 
    hover:bg-black hover:text-white;
}

.loopStudios-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row 
    md:space-y-0 md:space-x-8;
}

.loopStudios-item {
    @apply relative overflow-hidden md:w-1/4;
}

.loopStudios-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900
    group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

.loopStudios-h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 
    group-hover:text-black;
}

/* Also for the h3 and h5, @layer base can be used, but since I'm gonna have multiple pages
in this project I am just defining it seperately, leaving it here as a reminder 
@layer base {
    h3 {
        @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
    }
    h5 {
        @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
    }
}
*/

/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.5s;

}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.shortly-icon:hover {
    /* I used the filter property to change the color of the icon on hover since it was added as a png image */
    filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg) brightness(89%) contrast(85%);
}

